#investi-logo{
    width: 125px;
    // // height: 40px;
}

.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;

    .left-side-container{
        display: flex;
        align-items: center;

        span{
            margin: 0 30px;
            // font-weight: 700;

        }
    }   

    #login{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 700;
        // font-family: 'Roboto Condensed', sans-serif;

    }

    #Sign-up{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 20px;
        // background: linear-gradient(to right, #18563e 50%,#21ce99 50%);
        background-color: #21ce99;
        min-width: 85px;
        background-size: 200% 100%;
        transition: all .3s ease-in;
        text-decoration: unset;
        padding: 12px 35px;
        // font-family: 'Roboto Condensed', sans-serif;




    }
}

.NavBar-After-SignUp-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .NavBar-After-SignUp-Right-Side{
        display: flex;
        align-items: center;
        margin: 0px 50px;
        // justify-content: space-evenly
        
        button{
            margin-left: 30px;
        }

    }
    .NavBar-After-SignUp-Left-Side{
        display: flex;

        h2{
            display: flex;
            font-size: 20px;
            // color: red;
            align-items: center;
            // font-family: 'Roboto Condensed', sans-serif;
            margin: 0 50px;;

        }
    }


}